@model GoodNewsApp.GoodNewsAppDomainModel.Entities.News

@{
    ViewData["Title"] = "GoodNews";
}

    <h1>@Html.DisplayFor(model => model.Title)</h1>

    <div>
        @Html.DisplayFor(model => model.Body)
    </div>
    <div>

        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SourseURL)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SourseURL)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedOnDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOnDate)
            </dd>
            
        </dl>
    </div>
<div>
        <a asp-action="Index">Back to List</a>
</div>
